

<header class="app-header">
  
    <div class="toolbar" role="banner">
    
        <div class="title-container">

            <a class="title-header">
                
                <img src="https://images.ctfassets.net/q5ulk4bp65r7/3TBS4oVkD1ghowTqVQJlqj/2dfd4ea3b623a7c0d8deb2ff445dee9e/Consumer_Wordmark.svg" alt="">
            </a>
        </div>
     
        <div class="router-actions">
        <a routerLink="" routerLinkActive="active">
          
            <span  class="material-icons-outlined head">
                home
            </span>
           
       
        </a>
        
     
        <a routerLink="user" routerLinkActive="active">
            <!-- <img src="../../../assets/icons/user-colors.png" style="height: 32px;"> -->
            <span class="material-icons-outlined head">
                account_circle
            </span>
        </a>
     
        <a routerLink="contacts" routerLinkActive="active">
            <!-- <img src="../../../assets/icons/users.png" style="height: 32px;"> -->
            <span class="material-icons-outlined head">
                contact_phone
                </span>
        </a>
        <a routerLink="charts" routerLinkActive="active">
            <!-- <img src="../../../assets/icons/increase.png" style="height: 32px;"> -->
            <span class="material-icons-outlined head">
                stacked_line_chart
                </span>
        </a>
        <button (click)="onSignUp()" class="auth-btn">Get started</button>
      </div>
      </div>
</header>
<!-- onCloseModal -->
<auth-modal (onClose)="onCloseModal($event)" *ngIf="isClicked"></auth-modal>

