<!-- <p>moves works!</p> -->

<div class="auth-modal">
    <div class="auth-modal-content">
        <header class="modal-header">
            <!-- <span>{{contact? contact.name : 'Add contact'}} </span> -->
            <span>{{'Transfer to: ' + contact.name}} </span>
            <svg (click)="onClose.emit()" class="close-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                viewBox="0 0 20 20">
                <g>
                    <!-- (click)="onClose.emit()" -->
                    <polygon points="18.096 19.174 19.497 17.747 1.7 .286 .3 1.714"></polygon>
                    <polygon points="19.497 1.714 18.096 .286 .3 17.747 1.7 19.174"></polygon>
                </g>
            </svg>
        </header>
        <div class="modal-content">

            <div class="signup-form">
                <!-- <p>Required fields have an asterisk: *</p> -->

                <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="user">
                    <div class="names">
                        <!-- <div class="fname">
                            <label for="fname">First name*</label>
                            <div class="input-container">
                                <input ngModel #fname="ngModel" type="text" name="fname" placeholder="First name">
                            </div>
                        </div> -->
                        <!-- <div class="fname ">
                            <label for="name">Name*</label>
                            <div class="input-container">
                                <input [ngModel]="contact? contact.name :''" #name="ngModel" type="text" name="name"
                                    placeholder="Name">
                            </div>
                        </div> -->
                        <div class="transfer-container">

                            <div class="fname ">
                                <label for="usd">Transfer crypto (USD)</label>
                                <div class="input-container">
                                    <input *ngIf="!isClick; else disabled" #name="ngModel" [ngModel]="10" (change)="cryptoCalc(selectField.value);"
                                        type="number" name="usd" max="{{user.coins}}" #selectField>

                                        <ng-template #disabled>
                                            <input #name="ngModel" [ngModel]="10" (change)="cryptoCalc(selectField.value);"
                                                type="number" name="usd" max="{{user.coins}}" #selectField readonly>
                                        </ng-template>
                                </div>
                            </div>
                            <div class="fname ">
                                <label for="crypto">Transfer crypto (USD)</label>
                                <div class="input-container">
                                    <input #name="ngModel" [ngModel]="crypto" type="number" name="crypto" readonly>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- <div class="email marg-btn">
                        <label for="email">Email*</label>
                        <div class="input-container">
                            <input [ngModel]="contact? contact.email : '' " #email="ngModel" type="email"
                                placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="email marg-btn">
                        <label for="phone">Phone number*</label>
                        <div class="input-container">
                            <input [ngModel]="contact? contact.phone : '' " #phone="ngModel" type="text"
                                placeholder="Phone" name="phone">
                        </div>
                    </div> -->
                    <!-- <div class="password marg-btn">
                        <label for="password">Password*</label>
                        <div class="input-container">
                            <input ngModel #password="ngModel" required minlength="6" type="password"
                                placeholder="Choose password" name="password">
                        </div>
                    </div> -->

                    <!-- <div class="check-box">
                        <input required ngModel class="check-box-input" name="check" type="checkbox">
                        <p>I certify that I am 18 years of age or older, and agree to the
                            <a href="" style="white-space: pre-line">User Agreement</a> and <a href="">Privacy
                                Policy</a>.
                        </p>
                    </div> -->

                    <button *ngIf="!isClick; else loading" type="submit" [disabled]="form.invalid"
                        class="create-btn">Send</button>
                    <ng-template #loading>
                        <button class="buttonload">
                            <i class="fa fa-refresh fa-spin"></i> <span id="loading-span" class="loading-span" #loading> Loading</span>
                          </button>
                    </ng-template>
                    <!-- <button type="submit" [disabled]="form.invalid" class="create-btn">Save</button> -->
                    <!-- <button (click)="removeContact()" *ngIf="contact" type="submit" class="remove-btn">Remove</button> -->

                    <!-- <p  id="signin-btn"><a>Sign in</a></p> -->
                    <!-- (click)="isSigningIn=!isSigningIn" -->
                </form>
            </div>
        </div>
    </div>
</div>